Some tests are not working in Sauce Labs

We have few tests failing in Sauce labs (with Firefox), but working locally with Firefox and in Sauce labs with Chrome:

`tests/foreman/ui/test_hostunification.py::HostContentHostUnificationTestCase::test_positive_rename_foreman_host` on https://github.com/SatelliteQE/robottelo/blob/master/tests/foreman/ui/test_hostunification.py#L216,
`tests/foreman/ui/test_host.py::HostTestCase::test_positive_update_name` on https://github.com/SatelliteQE/robottelo/blob/master/tests/foreman/ui/test_host.py#L1026,
`tests/foreman/ui/test_host.py::HostTestCase::test_positive_update_name_with_prefix` on https://github.com/SatelliteQE/robottelo/blob/master/tests/foreman/ui/test_host.py#L1084,
`tests/foreman/ui/test_host.py::HostTestCase::test_positive_create_with_inherited_params` on https://github.com/SatelliteQE/robottelo/blob/master/tests/foreman/ui/test_host.py#L610,
When user clicks on submit, Satellite gives validation error for name input "can't be blank and hostname can contain only lowercase letters, numbers, dashes and dots according to RFC921, RFC952 and RFC1123" while generated new name is valid. Input became blank, and according to manually checking Satellite keep invalid name on submit, so user can change name.
So I guess despite selenium send keys to input it still blank on submit.

`tests/foreman/ui/test_hostgroup.py::HostgroupTestCase::test_positive_check_activation_keys_autocomplete` on https://github.com/SatelliteQE/robottelo/blob/master/tests/foreman/ui/test_hostgroup.py#L423
Test is failing, because there is no actual click on input element. 



I guess there might be even more tests that are not working in Sauce Labs.

Before Submit when changing Host name:
![screenshot from 2017-12-19 18-27-16](https://user-images.githubusercontent.com/800298/34167482-8fe1c902-e4ea-11e7-9735-f7071699e5b7.png)
After Submit:
![screenshot from 2017-12-19 18-28-37](https://user-images.githubusercontent.com/800298/34167492-959231d4-e4ea-11e7-9ed2-db2ef5a59d93.png)



Tried next solutions:
- direct javascript injections
- direct jquery calls
- ActionChains directly in the field (clear/input)
- ActionChains into browser, when cursor is in the field (clear through backspace/delete and input after that)
- Page refresh before or after text is inputted.
- Edit page opened in normal view, not in modal one (push 'Edit' from dropdown, not from opened Host page)
- Re-try input operation 20 times in a row (field is still treated as empty)
- Other browser versions: FF42, FF43, FF44, FF45, FF46, FF47
- javascript events around closest elements: form, div and etc
- debug events order and look for possible issue here

None of them worked, so decided to stub mentioned tests until better time (any other env/os/browser combination in future)
